
.embed-infographic {
  margin-bottom:  0px !important;
}

.video-js {
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

.video-js .vjs-tech {
  position: absolute;
  top: 50%;
  left: 50%;
}

video-js video {
  border-radius: 100px;
  height: 100%;
  left: 50%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 0;
}

.vjs-seeking .vjs-loading-spinner {
  display: none;
}

svelte-scroller-foreground {
  z-index: 4 !important;
  pointer-events: none !important;
}

/* Attempt to remove any appearance of video play button */
video::-internal-media-controls-overlay-cast-button {
  display: none;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
}

video::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */
video::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */
video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.map {
  height: 100%;
  width: 100%;
}

:global(.desktop) {
  display: block;
}
.mobile {
  display: none;
}

.maplibregl-ctrl-attrib-button {
  padding: 0 !important;
  margin-bottom: 60px !important; 
}

.maplibregl-compact-show {
  padding-bottom: 0px !important;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
    margin-right: 20px !important;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl {
    margin-right: 20px !important;
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  :global(.desktop) {
    display: none;
  }
  .maplibregl-ctrl-top-right .maplibregl-ctrl {
    margin-right: 15px !important;
  }

  .maplibregl-ctrl-bottom-right .maplibregl-ctrl {
      margin-right: 15px !important;
  }
}

.contain {
  margin: auto;
  object-fit: contain;
  width:100%;
  max-height: 500px;
  height:100%;
}

.shadowed {
  filter: drop-shadow( 5px 0px 40px rgba(255, 255, 255, .3))
    drop-shadow( 0px 5px 40px rgba(255, 255, 255, .3))
    drop-shadow( 5px -0px 40px rgba(255, 255, 255, .3))
    drop-shadow( 0px -5px 40px rgba(255, 255, 255, .3))
}

.soft-shadowed {
  filter: 
    drop-shadow( 0px 0px 10px rgba(255, 255, 255, 1))
    drop-shadow( 0px 0px 10px rgba(255, 255, 255, 1))
}

.heavy-shadowed {
      filter: 
    drop-shadow( 10px 0px 10px rgba(255, 255, 255, 1))
    drop-shadow( 10px 0px 10px rgba(255, 255, 255, 1))
    drop-shadow( 0px 0px 10px rgba(255, 255, 255, 1))
    drop-shadow( -10px 0px 10px rgba(255, 255, 255, 1))
    drop-shadow( -10px 0px 10px rgba(255, 255, 255, 1))
    drop-shadow( 0px 10px 10px rgba(255, 255, 255, 1))
}
